*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 50px auto;

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.img_container{
    float: left;
    width: 600px;
}

.img_container > img{
    filter: grayscale();
}

.img_container:hover img{
    filter: none;
}